@import '../variables';
@import '../breakpoints/breakpoints.scss';

.home {
  height: 90vh;
  position: relative;
  z-index: 0;

  &-title {
    line-height: 1.2;
    position: relative;
    display: flex;
    justify-content: center;

    .hide {
      overflow: hidden;
    }

    span {
      display: inline-block;
      position: relative;
      color: $orange;
      font-size: 9rem;
      text-align: center;
      font-weight: 300;

      @include media('<=phone') {
        padding-top: 2rem;
        font-size: 2.4rem;
      }

      .joelene {
        position: relative;
        z-index: 0;
      }

      .kylie {
        position: relative;
        z-index: 4;
        -webkit-text-stroke: 2px $orange;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }
    }
  }
}
